<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fan.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.fan.entity.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="stat" property="stat" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="gwf1" property="gwf1" jdbcType="VARCHAR"/>
        <result column="gwf2" property="gwf2" jdbcType="VARCHAR"/>
        <result column="gwf3" property="gwf3" jdbcType="VARCHAR"/>
        <result column="gwf4" property="gwf4" jdbcType="VARCHAR"/>
        <result column="gwf5" property="gwf5" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, username, password, sex, phone, address, stat, remark, gwf1, gwf2, gwf3, gwf4, 
    gwf5, create_date, update_date, creator, modifier, email
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.fan.entity.User">
    insert into user (id, username, password, 
      sex, phone, address, 
      stat, remark, gwf1, 
      gwf2, gwf3, gwf4, gwf5, 
      create_date, update_date, creator, 
      modifier,email)
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{stat,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{gwf1,jdbcType=VARCHAR}, 
      #{gwf2,jdbcType=VARCHAR}, #{gwf3,jdbcType=VARCHAR}, #{gwf4,jdbcType=VARCHAR}, #{gwf5,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, 
      #{modifier,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.fan.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="stat != null">
                stat,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="gwf1 != null">
                gwf1,
            </if>
            <if test="gwf2 != null">
                gwf2,
            </if>
            <if test="gwf3 != null">
                gwf3,
            </if>
            <if test="gwf4 != null">
                gwf4,
            </if>
            <if test="gwf5 != null">
                gwf5,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="email != null">
                email,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="stat != null">
                #{stat,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="gwf1 != null">
                #{gwf1,jdbcType=VARCHAR},
            </if>
            <if test="gwf2 != null">
                #{gwf2,jdbcType=VARCHAR},
            </if>
            <if test="gwf3 != null">
                #{gwf3,jdbcType=VARCHAR},
            </if>
            <if test="gwf4 != null">
                #{gwf4,jdbcType=VARCHAR},
            </if>
            <if test="gwf5 != null">
                #{gwf5,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fan.entity.User">
        update user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="stat != null">
                stat = #{stat,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="gwf1 != null">
                gwf1 = #{gwf1,jdbcType=VARCHAR},
            </if>
            <if test="gwf2 != null">
                gwf2 = #{gwf2,jdbcType=VARCHAR},
            </if>
            <if test="gwf3 != null">
                gwf3 = #{gwf3,jdbcType=VARCHAR},
            </if>
            <if test="gwf4 != null">
                gwf4 = #{gwf4,jdbcType=VARCHAR},
            </if>
            <if test="gwf5 != null">
                gwf5 = #{gwf5,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                modifier = #{email,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fan.entity.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      stat = #{stat,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      gwf1 = #{gwf1,jdbcType=VARCHAR},
      gwf2 = #{gwf2,jdbcType=VARCHAR},
      gwf3 = #{gwf3,jdbcType=VARCHAR},
      gwf4 = #{gwf4,jdbcType=VARCHAR},
      gwf5 = #{gwf5,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR}
      email = #{email,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="listAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <include refid="Base_query_criteria"/>
        </trim>
    </select>
    <select id="login" resultType="java.lang.Integer" parameterType="com.fan.entity.User">
        SELECT 1 FROM user WHERE username = #{username,jdbcType=VARCHAR} AND password = #{password,jdbcType=VARCHAR}
    </select>
    <select id="isExist" resultType="java.lang.Integer" parameterType="com.fan.entity.User">
        SELECT 1 FROM user WHERE username = #{username,jdbcType=VARCHAR}
    </select>

    <sql id="Base_query_criteria">
        <if test="username!=null and username!=''">
            AND username LIKE CONCAT('%',#{username,jdbcType=VARCHAR},'%')
        </if>
        <if test="password!=null">
            AND password = #{password}
        </if>
        <if test="sex!=null">
            AND sex = #{sex}
        </if>
        <if test="phone!=null and phone!=''">
            AND phone = #{phone}
        </if>
        <if test="address!=null">
            AND address = #{address}
        </if>
        <if test="email!=null and email!=''">
            AND email = #{email}
        </if>
        AND stat=0
    </sql>

    <select id="getUserByName" resultMap="BaseResultMap" parameterType="String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM User WHERE username = #{username}
    </select>
    <select id="getRoleByName" resultType="String" parameterType="String">
        SELECT b.role_en_name FROM user a LEFT JOIN role b ON a.role_id=b.role_id WHERE a.username=#{username}
    </select>
    <update id="deleteUserById" parameterType="Long">
        UPDATE user SET stat = 1 WHERE id = #{id,jdbcType=BIGINT}
    </update>
</mapper>